<div class="row content_text">
    <div class="col-xs-12 " style="margin-top:20px;">
        <span class="glyphicon glyphicon-hand-right"><span style="padding-left: 5px;">合作流程</span></span>
        <p class="con_title">|&nbsp; 加入e驾陪有什么好处？</p>
        <p>可以不用设置任何招生报名点，随时随地拿起手机就可以招收学员。为您增加更多的招生渠道。</p>
        <p class="con_title">|&nbsp; 如何成为e驾陪指定教练？需要哪些条件？</p>
        <p>成为e驾陪的指定教练，必须持有《中华人民共和国机动车驾驶培训教练员证》。必须有所属或挂靠的驾校。必须通过e驾陪教练基本技能测试。</p>
        <p class="con_title">|&nbsp; 我有教练证，可是没有所属的驾校，我可以以个人身份加入e驾陪吗？</p>
        <p>暂时不可以，请关注e驾陪最新资讯。</p>
        <p class="con_title">|&nbsp; 在哪里提交我的资料？如果中途要修改资料如何操作？</p>
        <p>未报名的教练可以通过e驾陪官网的【教练登记】填写资料并报名，报名后商务经理将给您打电话联系，并进行教练基本技能测试，通过后进行合同的签订，签订后就可以成为正式的e驾陪教练。 教练信息资料如需修改，请拨打客服电话4009-606-796，由客服人员核实教练身份后在后台修改。</p>
        <p class="con_title">|&nbsp; 跟你们合作要签订合同吗？找谁签？</p>
        <p>为了保障学员学车权益，教练需要同我方平台签订合同。一般来说，合同的签订是与当地的e驾陪委派的商务经理进行签订。</p>
        <p class="con_title">|&nbsp; 用你们平台的优势是？</p>
        <p>1. 统一教学技能培训，教学通过率提高</p>
        <p>2. 收入高：优质优价+生源充足</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="height:50px;">
    </div>
</div>