<div class="row"  style="">
    <div class="col-xs-12 c_introduct">
        <h4>预约说明 |</h4>
        <p>目前，只有自训学员才能在微信端预约课程，处于科目一和科目二状态的学员均可以预约科目二练车课程，处于科目三状态的学员可以预约科目三练车课程；</p>

        <p>微信端预约支持预约第2天至第4天的课程，不能约当天课程，每天课程定时会在早上7点发布，每节课程有4个练车名额，如果课程已经约满，则该课程不显示;</p>

        <p>如果用户已经有预约的课程，则只能等到课程结束后才可以继续在线上执行约车操作；</p>

        <p>如果学员需要取消约车，则需要提前一天在19:00之前取消该课程；</p>

        <p>学员预约课程成功后，会短信通知该学员已预约的课程信息，学员需要按照约车的时间找到对应的教练在训练场练车，如果学员预约成功但没有按时去练车，仍然视为该学员已经练车，会累计学员的学时信息；</p>

        <p>如果微信端不能进行正常约车，可以尝试在微信端点击“我-设置-通用-清理微信存储空间”进行缓存清理后再操作。如果客户还有其他任何问题，请联系客服人员。</p>
    </div>
</div>