<div class="row">
    <div class="col-xs-12" style="height:200px;margin-top:20px;">
        <div ng-click="choosecity.showmodel()">
            <div style="position:absolute;left:15px;width:80%;">
                <span>选择城市</span>
            </div>
            <div style="float:right;">
                <img style="width:6px;" src="/Restructures/imgs/weixinimgs/icon_next.png" alt=""/>
            </div>
        </div>

        <hr style="margin-top:40px;"/>

        <a style="color:#3b5168" href="#coorpershops">
            <div style="position:absolute;left:15px;width:80%;">
                <span>合作门店</span>
            </div>
            <div style="float:right;">
                <img style="width:6px;" src="/Restructures/imgs/weixinimgs/icon_next.png" alt=""/>
            </div>
        </a>

        <hr style="margin-top:60px;"/>

        <div ng-click="layout()">
            <div style="position:absolute;left:15px;width:80%">
                <span>退出登录</span>
            </div>
            <div style="float:right;">
                <img style="width:6px;" src="/Restructures/imgs/weixinimgs/icon_next.png" alt=""/>
            </div>
        </div>

        <hr style="margin-top:60px;"/>
    </div>
</div>
<div class="row navbar-fixed-bottom">
    <div class="col-xs-12" style="background-color: #171a1f;height:50px;">
        <a ng-click="gotoindex()">
            <div class="tabbtn" id ="tabbtn1">
                <img src="/Restructures/imgs/weixinimgs/icon01_black.jpg" alt=""/><br>
                <span>首页</span>
            </div>
        </a>
        <div ng-click="gotoorder()">
            <div class="tabbtn" id ="tabbtn2">
                <img src="/Restructures/imgs/weixinimgs/icon02_black.jpg" alt=""/><br>
                <span>预约</span>
            </div>
        </div>
        <div ng-click="gotosingin()">
            <div  class="tabbtn" id="tabbtn3">
                <img src="/Restructures/imgs/weixinimgs/icon03_black.jpg" alt=""/><br>
                <span>咨询</span>
            </div>
        </div>
        <div ng-click="gomore()">
            <div class="tabbtn" id ="tabbtn4">
                <img src="/Restructures/imgs/weixinimgs/icon04_blue.jpg" alt=""/><br>
                <span style="color: #00e2ff">更多</span>
            </div>
        </div>
    </div>
</div>