<div class="row weixin_entrance" ng-init="homepage.initpage()">
    <div class="row">
        <div class="col-md-12">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#sliderinto01"><img src="/Restructures/imgs/weixinimgs/slider01.jpg" class="img-responsive" alt=""></a></div>
                    <div class="swiper-slide"><a href="#sliderinto02"><img src="/Restructures/imgs/weixinimgs/slider02.jpg" class="img-responsive" alt=""></a></div>
                    <div class="swiper-slide"><a href="#sliderinto03"><img src="/Restructures/imgs/weixinimgs/slider03.jpg" class="img-responsive" alt=""></a></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!--<div class="row icon_box">-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#coachlist">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box01.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#schoollist">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box02.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row icon_box">-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#map">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box03.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#aboutus">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box04.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row icon_box">-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#coorperation">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box05.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="tel:4009606796">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box06.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row icon_box">-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#share">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box07.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#studentlogin">-->
                <!--<img src="/Restructures/imgs/weixinimgs/box08.jpg" class="img-responsive" alt="">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row icon_box">-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="#trainingfee"><img src="/Restructures/imgs/weixinimgs/box09.jpg" class="img-responsive" alt=""/></a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-6">-->
            <!--<a href="http://www.ejiapei.com/index_campaign.html"><img src="/Restructures/imgs/weixinimgs/box10.jpg" class="img-responsive" alt=""/></a>-->
        <!--</div>-->
    <!--</div>-->

    <!--微信主页修改-->
    <div class="row">
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#coachlist">
                <div class="box">
                    <div class="box-child1"><p><span>238</span><span>位</span></p></div>
                    <div class="box-child2">精英教练</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#schoollist">
                <div class="box">
                    <div class="box-child1"><p><span>12</span><span>位</span></p></div>
                    <div class="box-child2">精品驾校</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#map">
                <div class="box">
                    <div class="box-child1"><img src="/Restructures/imgs/weixinimgs/box002.jpg" alt=""></div>
                    <div class="box-child2">驾校地图</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#aboutus">
                <div class="box">
                    <div class="box-child1"><img src="/Restructures/imgs/weixinimgs/box004.jpg" alt=""></div>
                    <div class="box-child2">了解e驾陪</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#coorperation">
                <div class="box">
                    <div class="box-child1"></div>
                    <div class="box-child2">服务与合作</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="tel:4009606796">
                <div class="box">
                    <div class="box-child1"><img src="/Restructures/imgs/weixinimgs/box006.jpg" alt=""></div>
                    <div class="box-child2">联系客服</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#share">
                <div class="box">
                    <div class="box-child1"><img src="/Restructures/imgs/weixinimgs/box007.jpg" alt=""></div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#studentlogin">
                <div class="box">
                    <div class="box-child1"><img src="/Restructures/imgs/weixinimgs/box008.jpg" alt=""></div>
                    <div class="box-child2">练车安排<br><br></div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="#trainingfee">
                <div class="box1">
                    <div class="box-child1">学车费用</div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-6 icon_box_box">
            <a href="http://www.ejiapei.com/index_campaign.html">
                <div class="box2">
                    <div class="box-child1">成为推荐人</div>
                </div>
            </a>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12" style="height:40px;">
        </div>
    </div>
</div>
<div class="row navbar-fixed-bottom">
    <div class="col-xs-12" style="background-color: #171a1f;height:50px;">
        <a ng-click="gotoindex()">
            <div class="tabbtn" id ="tabbtn1">
                <img src="/Restructures/imgs/weixinimgs/icon01_blue.jpg" alt=""/><br>
                <span style="color: #00e2ff">首页</span>
            </div>
        </a>
        <div ng-click="gotoorder()">
            <div class="tabbtn" id ="tabbtn2">
                <img src="/Restructures/imgs/weixinimgs/icon02_black.jpg" alt=""/><br>
                <span>预约</span>
            </div>
        </div>
        <div ng-click="gotosingin()">
            <div  class="tabbtn" id="tabbtn3">
                <img src="/Restructures/imgs/weixinimgs/icon03_black.jpg" alt=""/><br>
                <span>咨询</span>
            </div>
        </div>
        <div ng-click="gomore()">
            <div class="tabbtn" id ="tabbtn4">
                <img src="/Restructures/imgs/weixinimgs/icon04_black.jpg" alt=""/><br>
                <span>更多</span>
            </div>
        </div>
    </div>
</div>