<div ng-init="school.loadschoolinfo()" >
    <div class="school_box" ng-repeat="school in school.schoolinfo">
        <hr/>
        <div class="box_img">
            <a href="#schooldetail/{{school.schoolId}}"><img style="" src={{school.schoolAvator}} alt=""/></a>
        </div>
        <a href="#schooldetail/{{school.schoolId}}">
        <div class="box_test" style="width:65%;">
            <div class="text_name"><span style="font-size:15px;">{{school.schoolName}}</span></div>
            <div class="text-address_school" style="margin-top:3px;"><img style="width:16px;" src="/Restructures/imgs/weixinimgs/ci-credit.png" alt=""/><img style="width:16px;" src="/Restructures/imgs/weixinimgs/ci-credit.png" alt=""/><img style="width:16px;" src="/Restructures/imgs/weixinimgs/ci-credit.png" alt=""/></div>
            <div class="text-address_school" style="margin-top:10px;"><span>{{school.schoolAddress}}</span></div>
        </div>
        <div class="next_icon">

            <span ng-if="school.canSelect=='Y'" style="font-size:18px;color:#f0ad4e">¥{{school.price}}</span>

            <a href="#schooldetail/{{school.schoolId}}"><img  src="/Restructures/imgs/weixinimgs/icon_next.png" alt=""/></a>
        </div></a>
    </div>
</div>
<div id="noschools" style="margin-top:100px;text-align: center"><span>正在加载中......</span></div>
<div class="row">
    <div class="col-xs-12" style="height:50px;">
    </div>
</div>


