<div class="row fluidimg " ng-init="initimg()">
    <div class="col-xs-12">
        <img src="/Restructures/imgs/weixinimgs/sliderinto03.jpg" class="img-responsive" alt=""/>
    </div>
</div>
<div class="row fluidimg">
    <div class="col-xs-12">
        <img src="/Restructures/imgs/weixinimgs/sliderinto04.jpg" class="img-responsive" alt=""/>
    </div>
</div>
<div class="row fluidimg">
    <div class="col-xs-12">
        <img src="/Restructures/imgs/weixinimgs/sliderinto05.jpg" class="img-responsive" alt=""/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="height:30px;">
    </div>
</div>