<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12" >
            <div class="modal fade" id="signinModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;margin-top: 10px;"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row modal-body sign_model">
                                            <div class="row">
                                                <div class="col-xs-10 col-xs-offset-1 " >
                                                    <div class="row">
                                                        <div class="col-xs-12 mbody">
                                                            <table>
                                                                <tbody>
                                                                <tr style="margin-top:20px;">
                                                                    <td style="border-right:1px solid #e5e5e5"><span class="glyphicon glyphicon-user"><span>姓名</span></span></td>
                                                                    <td><input type="text" style="border:0px;width:100%;height:90%;" ng-model="user.name"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td style="border-right:1px solid #e5e5e5"><span class="glyphicon glyphicon-earphone"><span>电话</span></span></td>
                                                                    <td><input type="tel" style="border:0px;width:100%;height:90%;" ng-model="user.phone"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border-right:1px solid #e5e5e5；"><span class="glyphicon glyphicon-flag"><span>城市</span></span></td>
                                                                    <td>
                                                                        <select type="text" ng-model="user.city" style="border:0px;width:100%;height:90%;background-color: #ffffff">
                                                                            <option value="1" selected = "selected">福州</option>
                                                                            <option value="2">厦门</option>
                                                                            <option value="4">上海</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                </tbody>

                                                            </table>
                                                            <table style="margin-top:6px;background-color:#ed695c;">
                                                                <tbody>
                                                                <tr style="margin-top:10px;color:#ffffff">
                                                                    <td ng-click="user.signin() " colspan=2 style="border-right:1px solid #e5e5e5"><span>提&nbsp;&nbsp;交</span></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style="margin-top:6px;background-color:#484848">
                                                                <tbody>
                                                                <tr style="margin-top:10px;color:#ffffff">
                                                                   <td> <a href="tel:4009606796" style="color: #ffffff">拨打4009-606-796电话,马上咨询</a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>