.mbody{height:200px;margin-top:0px;padding-left:0px;padding-right:0px;}
.mbody table{border-bottom: 1px;padding-bottom:10px;border: 1px solid #e5e5e5;width:100%;}
.mbody table tr{border-bottom: 1px solid #e5e5e5;height: 35px;text-align: center;color:#575757}
.mbody table tr td span span{margin-left: 5px;}
/*.consultation{height:80px;border-bottom:1px solid #f3f9f9;padding-left:0px;padding-right: 0px;background:url("/Restructures/imgs/weixinimgs/icon-1.jpg") no-repeat 0 center;background-size:25px;}*/
/*.consultation span{line-height: 80px;font-size:20px;}*/
