<div class="row footer_style">
    <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 text-center footer_text">
        <div class="row">
            <div class="col-md-2 col-xs-3 about-first">
                <p ><a href="#aboutus">关于我们</a></p>
                <p>服务合作</p>
                <p>公司简介</p>
                <p>加入我们</p>
                <p>联系我们</p>
            </div>
            <div class="col-md-2 col-xs-3 about-second">
                <p ><a href="#coorperation">服务合作</a></p>
                <p>教练加入</p>
                <p>合作条件</p>
                <p>合作流程</p>
                <p>合作场地</p>
            </div>
            <div class="col-md-2 col-xs-3 about-second">
                <p ><a href="#trainingfee">学车费用</a></p>
                <p>费用说明</p>
                <p>缴费方式</p>
                <p>补开发票</p>
                <p>学车合同</p>
            </div>
            <div class="col-md-2 col-xs-3 about-last">
                <p ><a href="#legal">法律条款</a></p>
                <p>纠纷条款</p>
                <p>纠纷解决</p>
                <p>服务协议</p>
                <p>健康学车</p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-xs-3 logo-icon logo-icon1">
                <img  src="/Restructures/imgs/index/footer_pic01.png" class="img-responsive" alt=""/>
                <img src="/Restructures/imgs/index/codepics.png" class="img-responsive1" alt="">
            </div>
            <div class="col-md-2 col-xs-3 logo-icon logo-icon2">
                <img  src="/Restructures/imgs/index/footer_pic02.png" class="img-responsive" alt=""/>
                <img src="/Restructures/imgs/index/codepicj.png" class="img-responsive2" alt="">
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6 col-md-offset-3 text-center" style="border-right:0px;padding-left:5px;" >
                <nobr><span style="font-size:8px;">Copyright © 2015 ejiapei.com Inc. All Rights Reserved.</span></nobr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center"  style="border-right:0px;padding-left:2px;">
                <nobr><span style="font-size:8px;">北京迅捷悦虎科技有限公司 版权所有 京ICP备15023295号-1</span></nobr>
            </div>
        </div>
    </div>
</div>