<div class="row navbar-fixed-bottom">
    <div class="col-xs-12" style="background-color: #171a1f;height:50px;">
        <a ng-click="gotoindex()">
            <div class="tabbtn" id ="tabbtn1" style="width:25%;text-align: center;float:left;margin-top:5px;">
                <img style="width:25px;" src="/Restructures/imgs/weixinimgs/icon01_blue.jpg" alt=""/><br>
                <span style="color: #00e2ff">首页</span>
            </div>
        </a>
        <div ng-click="gotoorder()">
            <div class="tabbtn" id ="tabbtn2" style="width:25%;text-align: center;float:left;margin-top:5px;">
                <img style="width:25px;" src="/Restructures/imgs/weixinimgs/icon02_black.jpg" alt=""/><br>
                <span style="color:#515357">预约</span>
            </div>
        </div>
        <div ng-click="gotosingin()">
            <div  class="tabbtn" id="tabbtn3" style="width:25%;text-align: center;float:left;margin-top:5px;">
                <img style="width:25px;" src="/Restructures/imgs/weixinimgs/icon03_black.jpg" alt=""/><br>
                <span style="color:#515357">咨询</span>
            </div>
        </div>
        <div ng-click="gomore()">
            <div class="tabbtn" id ="tabbtn4" style="width:25%;text-align: center;float:left;margin-top:5px;">
                <img style="width:25px;" src="/Restructures/imgs/weixinimgs/icon04_black.jpg" alt=""/><br>
                <span style="color: #515357">更多</span>
            </div>
        </div>
    </div>
</div>