<div class="row" style="background-color: #01e2ff;padding:50px;">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-xs-offset-4 col-md-offset-4">
                <img src="/Restructures/imgs/index/aboutus_top.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color:#f6f6f6">

    <div class="col-md-6 col-md-offset-3 center-text text_style" style="padding-top: 30px;padding-bottom:30px;">
        <p>北京迅捷悦虎科技有限公司，成立于2015年4月，总部位于首都北京。</p>
        <p> 公司开发的e驾陪APP是国内最大的O2O学车平台，通过移动互联网技术，e驾陪改变了传统驾校报名学车的模式，
            让学员们通过手机就能轻松完成报名、挑选教练、自由安排学车时间及考试时间，平台通过建立学员和教练互相评价的系统，
            以及建立社区交流平台，为学员营造一个更为良好的学车氛围的，充分保障学员权利。</p><br>

        <span style="padding:15px;font-size:20px;display: block"><b>诚聘英才</b></span>
        <br>
        <p>如果你也是一位有责任心，乐于分享，正直诚实的人，那么非常期待你成为“睿智、信任、担当”的e驾陪团队一员！让我们共同努力，让驾培事业更加阳光纯净</p><br>

        <p>招聘职位</p>
        <br>
        <br>
        <p>   市场部门</p>
        <br>
        <br>
        <p class="con_title">    新闻宣传岗</p>
        <br>
        <p>    岗位描述</p>
        <p> 协助市场部和营销团队进行新闻宣传及相关管理工作，包括:<br>
            1. 新闻宣传策划、稿件采编；<br>
            2. 做好网站内容管理及上网信息审核；<br>
            3. 搜集、查找新闻专题策划，整理新闻数据；<br>
            4. 市场部要求的其他任务</p>
        <br>
        <p>    任职要求</p>
        <p>      1. 在读大学生，有采访经历的优先，新闻类优先；<br>
            2. 认真负责，新闻敏感性强，文字功底好，文笔风趣活泼<br>
            3. 计算机操作熟练，熟练使用WORD，EXCEL，POWERPOINT等软件<br>
            4. 踏实肯干、认真负责，具有较强的文字表达能力、良好的沟通协调能力</p>
        <br>
        <p>   岗位要求</p>
        <p>   性别：不限，女生优先<br>
            语言：普通话<br>
            专业：不限<br>
            工作年限：无<br>
            工作地点：福州</p><br>
        <br>
        <br>
        <p class="con_title">    全职客服人员</p>
        <br>
        <p>    岗位描述</p>
        <p>      1. 负责日常来电接听、产品咨询及相关答疑；<br>
            2. 负责用户电话回访、跟进及处理用户反映问题；<br>
            3. 负责做好用户反馈信息的统计、分析和汇报；<br>
            4. 负责用户资料的管理、记录、归档工作；<br>
            5. 完成上级交办的其它工作任务；</p>
        <br>
        <p>  任职要求</p>
        <p>   1. 女，学历不限，专业不限，可接收应届生；<br>
            2. 有一定的计算机基础，能熟练使用Word、Excel；<br>
            3. 具有较强电话沟通能力，且耐心、负责；<br>
            4. 吐字清晰，语言亲和力强；<br>
            5. 有坐席、呼叫中心相关工作经验者优先；<br>
            6. 具有团队合作精神、工作态度认真且能长期稳定工作；</p>
        <br>
        <p>   岗位要求</p>
        <p>      年龄：20-35岁<br>
            语言：普通话<br>
            专业：不限<br>
            工作年限：2年电话客服经验优先<br>
            工作地点：福州/北京</p><br>
        <br>
        <br>
        <p class="con_title">    兼职客服人员</p>
        <br>
        <p>      岗位描述<br>
            1. 负责日常来电接听、产品咨询及相关答疑；<br>
            2. 负责用户电话回访、跟进及处理用户反映问题；<br>
            3. 负责做好用户反馈信息的统计、分析和汇报；<br>
            4. 负责用户资料的管理、记录、归档工作；<br>
            5. 完成上级交办的其它工作任务；</p>
        <br>
        <p>    任职要求<br>
            1. 女，学历不限，专业不限，可接收应届生；<br>
            2. 有一定的计算机基础，能熟练使用Word、Excel；<br>
            3. 具有较强电话沟通能力，且耐心、负责；<br>
            4. 吐字清晰，语言亲和力强；<br>
            5. 有坐席、呼叫中心相关工作经验者优先；<br>
            6. 具有团队合作精神、工作态度认真且能长期稳定工作；</p>
        <br>
        <p>  岗位要求<br>
            年龄：20-35岁<br>
            语言：普通话<br>
            专业：不限<br>
            工作年限：不限，但每周需要提供24小时的工作时间<br>
            工作地点：福州</p><br>
        <br>
        <br>
        <p>   营销中心部门</p>
        <br>
        <br>
        <p class="con_title">     大客户经理</p>
        <br>
        <p>   岗位描述<br>
            1. 负责企业，院校，社区等合作伙伴的商务拓展、项目跟进和关系维护；<br>
            2. 负责市场、商务合作相关的执行工作：<br>
            3. 负责城市运营推广工作，推动销售额增长。</p>
        <br>
        <p>  职位要求<br>
            1. 优秀的商务拓展能力，熟悉驾培行业，对O2O有强烈的兴趣；<br>
            2. 具备良好的沟通技巧、亲和力，仪表整齐大方；<br>
            3. 执行力强，有服务意识,承压能力强；<br>
            4. 踏实肯干，富有团队合作意识，有极强的求知欲望和学习能力；<br>
            5. 两年及以上商务或市场工作经验；<br>
            6. 能适应经常出差。</p><br>
        <br>
        <br>
        <p class="con_title">     商务经理</p>
        <br>
        <p>     岗位描述<br>
            1. 负责和各地区驾校的商务合作拓展、项目跟进和关系维护；<br>
            2. 负责市场、商务合作相关的执行工作;<br>
            3. 负责驾校教练学员管理工作;</p>
        <br>
        <p>      职位要求<br>
            1. 优秀的商务拓展能力，熟悉驾培行业，对O2O有强烈的兴趣；<br>
            2. 具备良好的沟通技巧、亲和力，仪表整齐大方；<br>
            3. 执行力强，有服务意识,承压能力强；<br>
            4. 踏实肯干，富有团队合作意识，有极强的求知欲望和学习能力；<br>
            5. 两年及以上商务或市场工作经验；<br>
            6. 能适应经常出差。</p><br>
        <br>
        <br>
        <p class="con_title">    WEB 前端工程师</p>
        <br>
        <p>职位描述：<br>
        1. 负责产品的前端开发，需与视觉设计师和后端工程师配合完成工作。<br>
        2. 优化前端功能设计，确保在不同平台、设备、浏览器上均拥有优质的用户体验。<br>
        3. JavaScript程序模块开发，通用类库、框架编写。<br>
        4. Web前端表现层及与后端交互的设计和开发。<br>
        5. 通过各种前端技术手段，提高用户体验并满足性能要求。</p>

        <p>工作地点：<br>
        北京市 东城区 崇文门 新世界中心</p>

        <p>薪酬：</p>
        <p>面议</p>
        <br>
        <p>任职要求：<br>
        1. 3年以上前端页面与脚本开发调试经验。<br>
        2. 熟悉HTML5,CSS3,ecmascript 6 及Bootstrap,Angularjs 等常用开发框架，熟悉响应式开发，单页应用和代码模块化。<br>
        3. 熟悉常用的开发工具WebStorm，Git的使用，熟悉gulp等前端构建工具。<br>
        4. 良好的编码习惯，至少熟悉一种后端语言。<br>
        5. 踏实、具备良好的责任感、优秀的沟通和执行能力，能够独立分析、决策。<br>
        6. 思维敏捷，学习能力较强，优秀的团队协作和组织协调能力。<br>
        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明姓名。</p>

        <p>&nbsp; 简历投递邮箱：<br>
        hr@ejiapei.com</p><br>
        <br>
        <p class="con_title">    WEB 前端开发实习生</p>
        <br>
        <p>职位描述：<br>
        1. 负责产品的前端开发，需与视觉设计师和前/后端工程师配合完成工作。<br>
        2. 优化前端功能设计，确保在不同平台、设备、浏览器上均拥有优质的用户体验。<br>
        3. JavaScript程序模块开发，通用类库、框架编写。<br>
        4. Web前端表现层及与后端交互的设计和开发。<br>
        5. 通过各种前端技术手段，提高用户体验并满足性能要求。<br>

        工作地点：<br>
        北京市 东城区 崇文门 新世界中心<br>

        薪酬：<br>
        3000~6000</p>
        <br>
        <p>任职要求：<br>
        1. 大三/大四或研究生，计算机相关专业，有移动互联网方向研发经验优先。<br>
        2. 能平衡好学习和工作时间，确保每周4个工作日以上。<br>
        3. 熟悉HTML5,CSS3,ecmascript 6 及Bootstrap,Angularjs等常用开发框架者优先，熟悉响应式开发，单页应用和代码模块化者优先。<br>
        4. 熟悉常用的开发工具WebStorm，Git，和gulp等前端构建工具者优先。<br>
        5. 良好的编码习惯。<br>
        6. 踏实、具备良好的责任感、重视沟通、优秀的执行能力。<br>
        7. 思维敏捷，学习能力较强，优秀的团队协作能力。<br>
        8. 对IT互联网行业有较高的热情，积极主动。<br>

        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明：学校+专业+年级+姓名。<br>
        如：北京大学+计算机与科学技术+大三+张三<br>

        简历投递邮箱：<br>
        hr@ejiapei.com</p><br>
        <br>
        <br>
        <p class="con_title">    Java后端开发工程师</p>
        <br>
        <p>职位描述：<br>
        负责公司CRM系统的整体建设以及线上产品的推进，技术调研等工作。<br>

        工作地点：<br>
        北京市 东城区 崇文门 新世界中心<br>

        薪酬：<br>
        面议</p>
        <br>
        <p> 职位要求：<br>
        1. 本科或以上学历，计算机软件或相关专业，本科工作2年以上，研究生工作1年以上实际项目开发经验。<br>
        2. 扎实的Java基础，能够熟练使用Java进行开发。<br>
        3. 深刻理解面向对象思想，理解并能熟练运用常用设计模式。<br>
        4. 熟练使用SQL，熟悉MySQL者优先。<br>
        5. 具有较强的逻辑思维能力和学习能力，工作认真、负责，有良好的团队合作精神。<br>
        6. 熟悉Spring，Mybatis者优先。<br>

        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明姓名。<br>

        简历投递邮箱：<br>
        hr@ejiapei.com</p><br>

        <p class="con_title">    Java后端开发实习生</p>
        <br>
        <p>职位描述：<br>
        工作期间主要负责公司CRM系统的开发工作，以及网站后端开发。</p>

        <p>工作地点：<br>
        北京市 东城区 崇文门 新世界中心<br>

        薪酬：<br>
        3000~6000</p>
        <br>
        <p>任职要求：<br>
        1. 大专以上学历，计算机、软件工程等相关专业优先，应往届理工类毕业生优先。<br>
        2. 能平衡好学习和工作时间，确保每周4个工作日以上。<br>
        3. 熟练掌握Java语言，了解Java EE相关开发者优先。<br>
        4. 了解ERP，CRM系统或有相关经验者优先。<br>
        5. 对IT软件行业发展看好，积极主动，有进取心，要求。<br>

        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明：学校+专业+年级+姓名。<br>
        如：北京大学+计算机与科学技术+大三+张三<br>

        简历投递邮箱：<br>
        hr@ejiapei.com</p><br>
        <br>
        <br>
        <p class="con_title">    校园创业合伙人</p>
        <br>
        <p>职位描述：<br>
        迅捷悦虎科技2016校园事业合伙人招募在即，现特向目标院校招募校园创业合伙人。<br>

        目标院校：<br>
        厦门大学（本部&翔安校区）、集美大学、华侨大学、华夏学院、兴才学院、海洋学院、厦门理工学院、厦门工学院、南洋学院、安防科技学院、城市职业学院、演艺学院、软件学院等厦门高等院校<br>

        工作地点：<br>
        本校校内<br>

        工作内容：<br>
        负责E驾陪2015年校园线上和线下的宣传和推广<br>

        薪酬：<br>
        无责任底薪+绩效+津贴</p>
        <br>
        <p>任职要求：<br>
        1、大二/大三/大四/研二学生，专业不限<br>
        2、对IT互联网行业有较高的热情，积极主动、有责任心<br>
        3、能平衡好学习和工作时间，优秀的沟通表达、组织协调和执行能力<br>
        4、有学生会、社团等干部任职经历，熟悉本校的环境、拥有丰富的校内人脉资源<br>
        5、懂得使用和开拓校园宣传渠道（线上、线上等多种渠道不限）<br>

        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明：学校+专业+年级+姓名，<br>
        如：华侨大学+计算机与科学技术+大三+张三<br>

        简历投递邮箱：<br>
        hr@ejiapei.com</p>
        <br>
        <br>
        <p class="con_title">文案策划</p>
        <br>
        <p>职位描述：<br>
        1. 撰写微信公众平台推广文案，平台活动或产品宣传推广文案和推广软文等；<br>
        2. 负责日常营销内容撰写，活动策划及执行，线上互动，收集有效营销线索；<br>
        3. 收集整理和编写活动物料、媒体软文和广告资料；<br>
        4. 协助公司其他部门撰写方案及处理其他文案事务；<br>
        5. 参与粉丝互动维护和管理；</p>
        <p>工作地点：<br>
        北京市 东城区 崇文门 新世界中心<br>
        薪酬：<br>
        面议<br>
            <br>
        <p>任职要求：<br>
        1. 1年以上品牌、广告、软文撰写的工作经验，有一定的策略方案经验，专科及以上学历<br>
        2. 卓越的策略思维和创意发散能力，具备深刻的洞察力；<br>
        3. 优秀的文案能力，能撰写各种不同的方案、文案；<br>
        4. 了解熟悉网络特性和网络文化，对网络营销具备一定的经验，熟悉各种网络营销的手段和方法。<br>
        5. 诚信、敬业并具有良好的沟通协调能力。<br>
        简历投递格式：<br>
        简历请以附件形式发送，勿粘贴到邮箱正文，并将邮件主题名称标明姓名。<br>
        简历投递邮箱：<br>
        hr@ejiapei.com</p>

    </div>
</div>