<div class="row" style="background-color: #01e2ff;padding:50px;">
    <div class="col-md-4 col-md-offset-4 hidden-xs">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img src="/Restructures/imgs/index/aboutus_top.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 visible-xs-block">
        <img src="/Restructures/imgs/mobile_aboutus.jpg" class="img-responsive" alt=""/>
    </div>
</div>

<div class="row" style="background-color:#f6f6f6">

    <div class="col-md-6 col-md-offset-3 center-text" style=" height:400px;padding-top: 30px;">
        <h3 style="text-align: center">正在整理中,敬请期待......</h3>

    </div>
</div>