<div class="row" ng-init="index_effect.shade()">
    <div class="col-md-12">
        <div class="row  visible-md-block visible-lg-block">
            <div class="col-md-12 col-lg-12">
                <img src="/Restructures/imgs/products/product_banner.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
        <div class="row visible-xs-block visible-sm-block">
            <div class="col-md-12 col-lg-12">
                <img src="/Restructures/imgs/products/product_banner_mb.jpg" class="img-responsive" alt=""/>
            </div>
        </div>

        <div class="row" style="padding-top:50px;padding-bottom:50px;">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h4>e驾陪公众平台</h4>
                        <span>用手机报名、预约和管理</span>
                    </div>
                </div>

                <div class="row wechat_inc visible-md-block visible-lg-block">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 shadowl">
                                        <div class="shadow" id="shadowfirst" ng-mouseenter="index_effect.mouseenter(1)" ng-mouseleave="index_effect.mouseleave(1)">
                                            <img src="/Restructures/imgs/index/wechat_inc01.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup1">
                                                <img src="/Restructures/imgs/index/shadow01.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-6 shadowr">
                                        <div class="shadow " ng-mouseenter="index_effect.mouseenter(2)" ng-mouseleave="index_effect.mouseleave(2)">
                                            <img src="/Restructures/imgs/index/wechat_inc02.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup2">
                                                <img src="/Restructures/imgs/index/shadow02.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-6 shadowl">
                                        <div class="shadow " ng-mouseenter="index_effect.mouseenter(3)" ng-mouseleave="index_effect.mouseleave(3)">
                                            <img src="/Restructures/imgs/index/wechat_inc03.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup3">
                                                <img src="/Restructures/imgs/index/shadow03.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-6 shadowr">
                                        <div class="shadow " ng-mouseenter="index_effect.mouseenter(4)" ng-mouseleave="index_effect.mouseleave(4)">
                                            <img src="/Restructures/imgs/index/wechat_inc04.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup4">
                                                <img src="/Restructures/imgs/index/shadow04.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-6 shadowl">
                                        <div class="shadow " ng-mouseenter="index_effect.mouseenter(5)" ng-mouseleave="index_effect.mouseleave(5)">
                                            <img src="/Restructures/imgs/index/wechat_inc05.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup5">
                                                <img src="/Restructures/imgs/index/shadow05.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-6 shadowr">
                                        <div class="shadow " ng-mouseenter="index_effect.mouseenter(6)" ng-mouseleave="index_effect.mouseleave(6)">
                                            <img src="/Restructures/imgs/index/wechat_inc06.jpg"  class="center-block img-responsive" alt=""/>
                                            <div class="shadowup visible-lg-block visible-md-block" id="shadowup6">
                                                <img src="/Restructures/imgs/index/shadow06.png"  class="center-block img-responsive" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row wechat_inc visible-xs-block visible-sm-block">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row m_inc">
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="/Restructures/imgs/index/m_weinc01.jpg"  class="center-block img-responsive" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background: #fbfcfc;">
            <div class="col-md-8 col-md-offset-2">
                <div class="row" style="margin-top: 50px;margin-bottom:50px;padding-left:10px;padding-right:10px;">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row" >
                            <div class="col-md-6 col-xs-6">
                                <div class="row">
                                    <div class="col-md-7">
                                        <img src="/Restructures/imgs/products/mobile01.png" class="img-responsive" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row pro_title">
                                    <div class="col-md-12 ">
                                        <h3>驾驭自由</h3><br>
                                        <h5>从训练场到州际公路，让您驾轻就熟。</h5>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:30px;">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">
                                                <img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon01.png" alt=""/>
                                            </div>
                                            <div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">
                                                <span style="font-size:18px;">精品</span>
                                            </div>
                                            <div class="row pro_inctext">
                                                <div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">
                                                    <span>在这里，您所看到教练和场地都是业界翘楚。</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">
                                                <img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon02.png" alt=""/>
                                            </div>
                                            <div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">
                                                <span style="font-size:18px;">省心</span>
                                            </div>
                                            <div class="row pro_inctext"  style="margin-top:10px;">
                                                <div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">
                                                    <span>教学资源再分配，大大节省不必要的关注和催促。</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:30px;">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">
                                                <img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon03.png" alt=""/>
                                            </div>
                                            <div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">
                                                <span style="font-size:18px;">快捷</span>
                                            </div>
                                            <div class="row pro_inctext"  style="margin-top:10px;">
                                                <div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">
                                                    <span>信息和资源优化策略，无需苦等，驾照即刻到手。</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row" style="margin-bottom:50px;padding-left:10px;padding-right:10px;">
                    <div class="col-md-10 col-md-offset-1">
                        <!--<div class="row" >-->
                            <!--<div class="col-md-6 col-xs-6">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-7">-->
                                        <!--<img src="/Restructures/imgs/products/mobile01.png" class="img-responsive" alt=""/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="row pro_title" style="margin-top:30px;">-->
                                    <!--<div class="col-md-12 ">-->
                                        <!--<h3>驾驭自由</h3><br>-->
                                        <!--<h5>从训练场到州际公路，让您驾轻就熟。</h5>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row" style="margin-top:30px;">-->
                                    <!--<div class="col-md-6 col-xs-6">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">-->
                                                <!--<img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon01.png" alt=""/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">-->
                                                <!--<span style="font-size:18px;">精品</span>-->
                                            <!--</div>-->
                                            <!--<div class="row pro_inctext">-->
                                                <!--<div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">-->
                                                    <!--<span>在这里，您所看到教练和场地都是业界翘楚。</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6 col-xs-6">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">-->
                                                <!--<img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon02.png" alt=""/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">-->
                                                <!--<span style="font-size:18px;">省心</span>-->
                                            <!--</div>-->
                                            <!--<div class="row pro_inctext"  style="margin-top:10px;">-->
                                                <!--<div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">-->
                                                    <!--<span>教学资源再分配，大大节省不必要的关注和催促。</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row" style="margin-top:30px;">-->
                                    <!--<div class="col-md-6 col-xs-6">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-5 col-xs-5" style="padding-right: 0px;width:60px">-->
                                                <!--<img style="width:35px;height: 35px;" src="/Restructures/imgs/products/icon03.png" alt=""/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-7 col-xs-7" style="padding-top:7px;padding-left:0px">-->
                                                <!--<span style="font-size:18px;">快捷</span>-->
                                            <!--</div>-->
                                            <!--<div class="row pro_inctext"  style="margin-top:10px;">-->
                                                <!--<div class="col-md-9 col-md-offset-1 col-xs-12 col-sm-12" style="padding-top:10px;">-->
                                                    <!--<span>信息和资源优化策略，无需苦等，驾照即刻到手。</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->


                        <div class="row" style="margin-top:40px;">
                            <div class="col-md-4" style="padding-top:20px;">
                                <img src="/Restructures/imgs/products/mobile_ins01.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-4" style="padding-top:20px;">
                                <img src="/Restructures/imgs/products/mobile_ins02.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-4" style="padding-top:20px;">
                                <img src="/Restructures/imgs/products/mobile_ins03.jpg" class="img-responsive">
                            </div>
                        </div>

                        <div class="row select_inc" style="margin-top:30px;">
                            <div class="col-md-3 col-xs-6">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon04.png"  alt=""/>
                                    </div>
                                    <div class="col-md-6" style="padding-top:3px;">
                                        <span style="font-size:18px;">选择</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>快速了解并选择优秀的教练，皆可在手机上完成。</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon05.png"  alt=""/>
                                    </div>
                                    <div class="col-md-6" style="padding-top:3px;">
                                        <span style="font-size:18px;">报名</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>通过您平时常用的安,全支付平台报名学车。</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon06.png"  alt=""/>
                                    </div>
                                    <div class="col-md-6" style="padding-top:3px;">
                                        <span style="font-size:18px;">预约</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>随时随地查看日程，跟教练预约及查看学车状态。</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon07.png"  alt=""/>
                                    </div>
                                    <div class="col-md-6" style="padding-top:3px;">
                                        <span style="font-size:18px;">附近</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>地图模式，让您身边的教练和场地尽收眼底。</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row visible-md-block visible-lg-block" style="height:485px;background-image: url('/Restructures/imgs/products/bag01.jpg');margin-bottom: 10px;">-->
            <!--<div class="col-md-10 col-md-offset-1 ">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-5 col-md-offset-1">-->
                        <!--<div style="position: absolute;top:0px;left: 0px;">-->
                            <!--<img style="padding-left:10px;width:450px;" src="/Restructures/imgs/products/slider_bg.jpg" alt=""/>-->
                        <!--</div>-->
                        <!--<div style="position:absolute;top:119px;left:124px;z-index:4">-->
                            <!--<img style="width:180px;"  src="/Restructures/imgs/products/slider_inc01.jpg" alt=""/>-->
                        <!--</div>-->
                        <!--<div style="position:absolute;top:119px;left:124px;z-index:4">-->
                            <!--<img style="width:180px;" src="/Restructures/imgs/products/slider_inc02.jpg" alt=""/>-->
                        <!--</div>-->
                        <!--<div style="position:absolute;top:119px;left:124px;z-index:4">-->
                            <!--<img style="width:180px;" src="/Restructures/imgs/products/slider_inc03.jpg" alt=""/>-->
                        <!--</div>-->
                        <!--<div style="position:absolute;top:119px;left:124px;z-index:5">-->
                            <!--<img style="width:180px;" src="/Restructures/imgs/products/slider_inc04.jpg" alt=""/>-->
                        <!--</div>-->
                        <!--<div style="position:absolute;top:119px;left:124px;z-index:4">-->
                            <!--<img style="width:180px;" src="/Restructures/imgs/products/slider_inc05.jpg" alt=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 sliderinc_text" style="padding-top: 80px;">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<p style="font-size:14px;color:#ffffff;">如何使用e驾陪</p>-->
                                <!--<p style="color:#ffffff;">无论是炎夏还是凛冬，白天或黑夜，<br>e驾陪始终是您轻松学车的首选。</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-top: 30px;margin-bottom:10px;">-->
                            <!--<div class="col-md-1">-->
                                <!--<div class="point">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<p  style="color:#ffffff;">首先，选择您喜欢的教练</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-bottom:10px;">-->
                            <!--<div class="col-md-1">-->
                                <!--<div class="point">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<p>报名学车，教练收到您的报名通知</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-bottom:10px;">-->
                            <!--<div class="col-md-1">-->
                                <!--<div class="point">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<p>预约练车时间</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-bottom:10px;">-->
                            <!--<div class="col-md-1">-->
                                <!--<div class="point">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<p>教练收到预约消息</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-bottom:10px;">-->
                            <!--<div class="col-md-1">-->
                                <!--<div class="point">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<p>您可以查看练车安排，了解预计考试时间</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row" style="margin-top:50px;margin-bottom: 50px;">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-7 visible-xs-block visible-ms-block" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-2">
                                    <img src="/Restructures/imgs/products/mobile04.png" class="img-responsive" alt=""/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5" style="padding-left: 0px;">
                            <div class="row" style="margin-top:30px;padding-left: 30px;">
                                <div class="col-md-12">
                                    <h3>轻松教学</h3><br>
                                    <h5>让教练们随时随地管理日程，与学员沟通交流。</h5>
                                </div>
                            </div>

                            <div class="row" style="margin-top:50px;padding-left: 30px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-3 col-xs-3">
                                            <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon08.png" alt=""/>
                                        </div>
                                        <div class="col-md-7" style="margin-top:4px;">
                                            <span style="font-size:18px;">管理您的日程</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;padding-left: 30px;">
                                <div class="col-md-12">
                                    <span>在安排主页中查看周历、将至预约和发送消息。</span>
                                </div>
                            </div>

                            <div class="row" style="margin-top:50px;padding-left: 30px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-3 col-xs-3">
                                            <img style="width:30px;height: 30px;" src="/Restructures/imgs/products/icon09.png" alt=""/>
                                        </div>
                                        <div class="col-md-9" style="margin-top:4px;">
                                            <span style="font-size:18px;">成为最出色的教练</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;padding-left: 30px;">
                                <div class="col-md-12">
                                    <span>我们的教练群组和全新的执教中心会将所有精彩建议放在您的指尖。</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7 visible-lg-block visible-md-block" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-2">
                                    <img src="/Restructures/imgs/products/mobile04.png" class="img-responsive" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
